<%= form_for @list do |form| %>
  <h1>List</h1>
  <%= form.text_field :name %>
  <br/>
  <h1>Sublist</h1>
  <%= form.fields_for :sublists do |form_sublist|%>
    <%= form_sublist.text_field :name %><br><br>
  <% end %>
  <%= form.submit %>
<% end %>

